<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net452" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net452" />
  <package id="LibSVMsharp" version="1.2.4" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.11.0" targetFramework="net452" />
  <package id="Microsoft.Kinect" version="2.0.1410.19000" targetFramework="net452" />
  <package id="Microsoft.Kinect.Face" version="2.0.1410.19000" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net452" />
  <package id="OxyPlot.WindowsForms" version="1.0.0-unstable2100" targetFramework="net452" />
</packages>